.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(30deg, rgb(233, 233, 233) 50%, rgba(223, 222, 222, 0.781) 50%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navstyle {
  padding: 1rem;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.navfont {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-decoration: white;
}

.mainTitle {
  margin: 2rem;
  justify-content: center;
  text-align: center;
}

.mainTitle h1 {
  font-weight: bolder;
  font-size: 6vh;
  color: #013A6B;
}

.inpForm input {
  margin-left: 4rem;
  margin-right: 4rem;
  width: 90%;
  height: 6vh;
  background: none;
}

.inpForm label {
  margin-left: 4rem;
  font-weight: bolder;
}

input, label {
  display:block;
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 2rem;
  width: 90.5%;
}

.item.completed span {
  text-decoration: line-through;
}

.item label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background-color: white;
}

.item i {
  z-index: 2;
}

.navfont {
  margin: 1rem;
  font-size: 4vh;
}